<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Coupons</title>
  </head>
  <body>
    <% @coupons.each do |coupon| %>
      <h3><%= coupon.store %></h3>
      <p><%= link_to coupon.coupon_code, coupon_path(coupon.id) %></p>
    <% end %>
  </body>
</html>
