<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coupon</title>
</head>
<body>
  <h3>Show Coupon</h3>
    <h1>Coupon ID: <%= @coupon.id %></h1> <br>
    <h1>Coupon Code: <%= @coupon.coupon_code%></h1><br>
    <h1>Store: <%= @coupon.store%></h1>
</body>
</html>